.bkshwn {
  padding: 15px 15px 15px 55px;
  border-bottom: #7777ee 1px solid;
}
.bkhtfwp {
  padding: 10px 20px;
}
.bktop,
.bbbcnt {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 5px 10px;
  margin: auto;
}
.fffdg {
  background-color: #c2c2c2bb;
}
.bbbcnt {
  padding: 17px 10px;
}
.fffgd {
  background-color: #575758d3;
}
.llione {
  width: 200px;
  max-width: 200px;
  margin: 0 5px;
  overflow: hidden;
}
.toobg {
  width: 100px;
  max-width: 100px;
}
.nobki {
  color: #1f202757;
  text-align: center;
  margin: 20px 0;
}

.book {
  min-height: 500px;
  color: #222;
  padding: 70px;
}

/* Media queries */

@media (max-width: 700px) {
  .bkhtfwp {
    padding: 10px 5px;
  }

  .book {
    padding: 70px 10px;
  }
}

@media (max-width: 480px) {
  .bkhtfwp {
    font-size: 0.5rem;
  }
}
