.navspac {
  width: 100%;
  height: 79px;
}

.ovawrap {
  padding: 40px 80px;
}

.lftsdiv {
  padding: 20px 30px 0;
  width: 25%;
  height: fit-content;
  border: 1px solid #141316d5;
}

.prfpich {
  text-align: center;
}
.prpic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* padding: 7px 0; */
  background-color: #48425e2d;
  margin: auto;
}
.prpic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.prch {
  position: relative;
  background-color: #24232b;
  width: 30%;
  margin: 4px auto;
  padding: 3px 0;
  border-radius: 10px;
}
.prch input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.prfinfs {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #141316d5;
  padding: 20px 0;
  border-top: 1px solid #19191d56;
  cursor: pointer;
}
.prfinfs.cactive {
  color: #1c1b22;
  font-weight: 600;
  background-color: #1d1c221e;
}
.prfinfs:hover {
  background-color: #19191d34;
}
.pfrica {
  width: 26px;
  height: 26px;
  fill: #24222c;
  margin: 0 20px 0 0;
}

.rgtsdiv {
  width: 75%;
  padding: 20px 50px;
}

.pepfhd {
  margin: 0 0 10px;
}

.pepfcon {
  padding: 20px 0;
  border-top: 1px solid #19191d34;
}
.pepinner {
  width: 100%;
  font-size: 1.1rem;
}
.pepinner,
.fllnm,
.svfnw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fllnm {
  gap: 15px;
}
/* .rtnm{
  flex: 1 1;
  width: 100%;
}
.rtnm input{
  width: 100%;
  font-size: 1.1rem;
  padding: 8px 16px;
  border: 1px solid #24222c;
  border-radius: 5px;
} */
.nrmtw {
  padding: 20px 0 0;
}
.pepoint,
.pepcan {
  cursor: pointer;
}
.pepoint:hover,
.pepcan:hover {
  text-decoration: underline;
}
.svfnw {
  padding: 8px 0 10px;
}
.svfnw button {
  padding: 8px 11px;
  font-size: 1.15rem;
  background-color: #24222c;
  color: #e5e8fc;
  border: none;
  border-radius: 5px;
}
.pepfcon p {
  font-size: 1.25rem;
}
.pepfcon span {
  display: inline-block;
  padding: 7px 0 0;
  color: #1d1e22b0;
}

@media (max-width: 800px) {
  .ovawrap {
    position: relative;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
  }
  .prfpich {
    display: none;
  }
  .lftsdiv {
    width: 100%;
    padding: 20px 20px 0;
  }
  .rgtsdiv {
    width: 100%;
    padding: 20px 20px 0;
  }
}

@media (max-width: 620px) {
  .ovawrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .lftsdiv {
    width: 100%;
    padding: 20px 10px 0;
  }
  .rgtsdiv {
    width: 100%;
    padding: 20px 10px 0;
  }
}
