

.tbgimg{
  background-image: url(../images/tour2.jpg);
}
.tbcl{
  background-color: rgba(214, 212, 226, 0.664);
}

.toursdiv{
  display: flex;
  color: #252525;
  align-items: center;
  /* justify-content: center; */
  /* background-color: aqua; */
  gap: 10px;
  flex-wrap: wrap;
}

.trimg{
  flex: 0 1 23.5rem;
  border-radius: 10px;
  max-width: 385px;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px 2px #27233b7e;
  position: relative;
  overflow: hidden;
}
.trimg img{
  width: 100%;
  height: 240px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.trimg:hover img{
  transform: scale(1.05);
}

.boictr{
  display: flex;
  justify-content: space-between;
  padding: 25px 15px;
  background-color: #5e6388a8;
}